html,
body,
* {
  margin: 0px;
  padding: 0px;
  text-align: center;
  box-sizing: border-box;
  justify-content: space-evenly;
}
html {
  background-size: auto;
  background-image: url(https://coolbackgrounds.io/images/backgrounds/index/disco-dba865f1.png);
}

#title {
  font-size: 40px;
  margin-top: 70px;
  margin-bottom: 50px;
  padding: 0.2rem 0rem 0.2rem 0rem;
  color: white;
  font-family: "Josefin Sans", sans-serif;

  transition: 0.45s;
}

#title:hover {
  animation-name: rotate;
  animation-duration: 1.53s;
  animation-direction: normal;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.social-media {
  display: flex;
  flex-direction: row;
}

.parent {
  display: flex;
  flex-direction: row;

  margin: auto;
  margin-bottom: 20px;
  align-items: center;
  flex-wrap: wrap;
  font-size: 10px;
}

@media screen and (max-width) {
  .parent {
    flex-direction: column;
    width: 100%;
  }
  .child {
  }
}

#header {
  font-size: 30px;
  margin-top: 5px;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

#child {
  border: 0.3rem black solid;
  border-radius: 2rem;
  padding: 35px;
  margin-top: 20px;
  box-shadow: 0px 0px 25px rgb(70, 70, 175), 0px 0px 75px rgb(216, 84, 84);
  height: auto;
  width: auto;
  color: black;

  transition-duration: 0.73s;
}

#child:hover {
  background-color: rgb(106, 26, 172);
  padding: 3.48rem;
  border: 0.2rem rgb(80, 219, 0) dashed;
  color: cyan;

  animation-name: rotate;
  animation-duration: 2.46s;
  animation-direction: normal;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

#description {
  font-size: 25px;
  margin-top: 35px;
  font-family: "Dancing Script";
}

#img {
  width: 20rem;
  height: auto;
  margin-top: 1rem;
  align-items: initial;
}

.buttons {
  border-radius: 2rem;
  padding: 0.2rem;
}

.buttons-1 {
  color: #fff;
  background-color: rgb(255, 0, 0);
}

.buttons-2 {
  color: #fff;
  background-color: rgb(233, 14, 204);
}

.buttons-3 {
}
