html,
body {
  margin: 0px;
  padding: 0px;
  background-color: darksalmon;
}

#title {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 50px;
  color: green;
}

.parent {
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
  width: 90vw;
  text-align: center;
  margin: auto;
}

.child {
  border: 2px red solid;
  border-radius: 20px;
  background-color: lightblue;
  padding: 50px;
}

#images {
  width: 350px;
}
